
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.keith-m{
  width: 300px;
  height: 200px; 
  margin: 12px auto;
  background: #ccc;
  overflow: hidden;
  outline: 5px solid #222;
  outline-offset: 5px;
}

.keith-m:hover .arrow, .keith-m:hover .keith-txt, .keith-m:hover .keith-fond, .arrow, .keith-txt, .keith-fond{
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out; 
  -moz-transition: all 2s ease-in-out; 
  -o-transition: all 2s ease-in-out;
}

.arrow {
  --clr-arrow: #a897add8;
  width: 300px; 
  height: 70px; 
  background: var(--clr-arrow);
  transform: translate(350px, -95px);
  position: relative;
  margin: 0 auto;
  mix-blend-mode: difference;  
  transition-delay: 3s;
}
.arrow:before {
  width: 0; 
  height: 0; 
  border-right: 120px solid var(--clr-arrow);
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent; 
  content: "";
  position: absolute;
  pointer-events: none;
  bottom: -28%;
  right: 100%;
}
.keith-txt{
  position: relative;
  padding: 25px;
  opacity: 0;
  font: 300 12px 'Rajdhani', sans-serif;;
  text-align: justify;
  z-index: 5; 
  transform: translateY(-180px);
}

.keith-m:hover .arrow{
  transform: translate(0px, -95px);
}
.keith-m:hover .keith-txt{
  opacity: 1;
  transition-delay: 3s;
}
.keith-m:hover .keith-fond{
  transform: translateY(0px);
  transition-delay: 1.5s;
}

.keith-fond{
  position: relative;
  width: 300px;
  height: 205px; 
  margin: 0 auto;
  background: #343deb; 
  transform: translateY(205px);
  mix-blend-mode: multiply;  
  z-index: 3;
  transition-delay: 1.5s;
}
