@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.wmh{
  width: 300px; 
  height: 200px; 
  padding: 20px; 
  margin: 0 auto;
  outline: 2px solid #666; 
  outline-offset: -16px;
  transition: 0.5s ease-in-out;
  filter: grayscale(0%);
}
.wmh:hover{
  transition: 1s ease-in-out; 
  filter: grayscale(100%);
}

.img-wmh{
  width: 300px; 
  height: 200px;
}
.wmh2{
  color: #e8dcd2; 
  position: relative; 
  top: -200px; 
  padding: 15px;
  font: 8px arial; 
  text-transform: uppercase; 
  line-height: 170%; 
  letter-spacing: 0.12em; 
  text-align: justify;
}

.frase-wmh{
  width: 106px; 
  float: left;
  margin-top: -6px;
}

.frase-wmh2{
  width: 106px; 
  float: right;
  margin: 60px 0px 25px 0px;
}

#tit-wmh{
  font: 900 30px 'Noto Serif', serif;
  text-transform: uppercase;
  color:rgba(188, 232, 230, 1);
  text-shadow: 0px 0px 5px rgba(188, 232, 230, 0.5); 
  margin-left: 15px; 
  letter-spacing: 0.8em; 
  animation: blur-pluton 4s infinite; 
  width: 302px;
  display: flow-root;
  position: absolute; 
  top: 155px;
}

@keyframes blur-pluton {
  0% {
    text-shadow: 0px 0px 10px rgba(188, 232, 230, 0.6);
  }  
25%  {
  text-shadow: 0px 0px 20px rgba(188, 232, 230, 0.7);
  } 
50%  {
  text-shadow: 0px 0px 15px rgba(188, 232, 230, 0.8);
  }
100% {
  text-shadow: 0px 0px 10px rgba(188, 232, 230, 0.7);
  }
}
