@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.f-book{
  --ic-color: #96915b;
  --bg-color: #222;
  width: 290px;
  height: 190px;
  margin: 0 auto;
  background: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
}

.izq-book, .der-book{
  width: 140px;
  height: 180px;
  transform: translateX(0px);
  transition: 1.2s ease-in-out;
  border-top: 5px solid var(--bg-color);
  border-bottom: 5px solid var(--bg-color);
  transition-delay: 1s;
}


.izq-book{
  border-left: 5px solid var(--bg-color);
}

.der-book{
  border-right: 5px solid var(--bg-color);
}
.f-book:hover .izq-book, .f-book:hover .der-book{
  transition-delay: 0s;
}
.f-book:hover .izq-book{
  transform: translateX(-140px);
 
}
.f-book:hover .der-book{
  transform: translateX(140px);
}
.txt-book{
  width: 250px;
  height: 140px;
  font: 200 12px "Red Hat Display", sans-serif;
  color: #b5aaaa;
  padding: 15px 20px;
  margin: 0px auto;
  transform: translateY(-185px);
  opacity: 0;
  transition: 1.2s ease-in-out;
  line-height: 160%;
}

.txt-book u {
  font-weight: 500;
  text-decoration: none;
  background: var(--ic-color);
  padding: 2px;
  color: var(--bg-color);
}

.txt-book b, .txt-book i{
  color: var(--ic-color); 
}

.txt-book b {
  font-weight: 900;
}

.txt-book .icon-book{
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  animation: pendulum 1.5s infinite ease-in-out;
  color: var(--ic-color);
}

.f-book:hover .txt-book{
  opacity: 1;
  transition-delay: 1s;
}


@-webkit-keyframes pendulum {
    0% {
        transform: rotate(5deg);
    }

    35% {
        transform: rotate(45deg);
    }

    75% {
        transform: rotate(-45deg);

    }
    100%{
        transform: rotate(-25deg);

    }

}
@keyframes pendulum {

    0% {
        transform: rotate(5deg);
    }

    35% {
        transform: rotate(45deg);
    }

    75% {
        transform: rotate(-45deg);

    }
    100%{
        transform: rotate(-25deg);

    }

}
