.card-pnj{
  width: 210px;
  height: 235px;
  overflow-y: hidden;
  margin: 0 auto;
  background: var(--color-card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img-pnj{
  position: relative;
  width: 200px;
  height: 200px;
  transform: translateX(-205px);
  margin-left: 10px;
  z-index: 3;
}
.name-pnj{
  width: 200px;
  height: 15px;
  padding: 5px;
  background: var(--color-card);
  color: #000;
  text-align: center;
  font: 700 14px arial;
  line-height: 150%;
  transform: translateX(-200px);
}
.info-pnj{
  position: relative;
  width: 170px;
  height: 170px;
  background: var(--color-card);
  padding: 15px;
  margin: -25px 0px 0px;
  right: -5px;
  font: 400 10px arial;
  text-align: justify;
  overflow-y: auto;
  opacity: 0;
  z-index: 4;
  transition: 1.5s all;
  scrollbar-color: black var(--color-card);
  scrollbar-width: thin;
  color: black;/*
  transform: translateX(-205px);*/
}
.card-pnj:hover .info-pnj{
  opacity: 1;
  transition: 1.5s all;
}
.info-pnj::-webkit-scrollbar-thumb{background: #000;}
.info-pnj::-webkit-scrollbar{width: 4px;}
.info-pnj::-webkit-scrollbar-track{background: var(--color-card);}
